USE [master]
GO
/****** Object:  Database [FoodOrder]    Script Date: 9/2/2024 12:34:57 PM ******/
CREATE DATABASE [FoodOrder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodOrder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FoodOrder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodOrder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FoodOrder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodOrder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodOrder]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[Id] [uniqueidentifier] NOT NULL,
	[TenBan] [int] NOT NULL,
	[QRCode] [varchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[Url] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Id] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMonAn]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMonAn](
	[Id] [uniqueidentifier] NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[Id] [uniqueidentifier] NOT NULL,
	[IdBan] [uniqueidentifier] NOT NULL,
	[IdMonAn] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTien] [decimal](20, 0) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[Id] [uniqueidentifier] NOT NULL,
	[IdNhanVien] [uniqueidentifier] NOT NULL,
	[IdBan] [uniqueidentifier] NOT NULL,
	[Ma] [varchar](30) NOT NULL,
	[TongTien] [decimal](20, 0) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[Id] [uniqueidentifier] NOT NULL,
	[IdHoaDon] [uniqueidentifier] NOT NULL,
	[IdMonAn] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTien] [decimal](20, 0) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[Id] [uniqueidentifier] NOT NULL,
	[IdDanhMuc] [uniqueidentifier] NOT NULL,
	[HinhAnh] [nvarchar](max) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[GiaTien] [decimal](20, 0) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/2/2024 12:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [uniqueidentifier] NOT NULL,
	[IdChucVu] [uniqueidentifier] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Sdt] [varchar](15) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](max) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChucVu] ([Id], [Ten], [NgayTao], [TrangThai]) VALUES (N'bb96b457-4c9e-4573-bc8a-e0f171f429e7', N'Nhân viên', CAST(N'2024-08-28T00:41:41.150' AS DateTime), 1)
INSERT [dbo].[ChucVu] ([Id], [Ten], [NgayTao], [TrangThai]) VALUES (N'e7727574-07e0-46b4-86a7-e4931c9548ec', N'Quản lý', CAST(N'2024-08-28T00:41:41.150' AS DateTime), 1)
GO
INSERT [dbo].[DanhMucMonAn] ([Id], [TenDanhMuc], [NgayTao], [TrangThai]) VALUES (N'4295ab97-72d6-4504-8ac7-19f0069e073a', N'Pizza', CAST(N'2024-08-28T23:08:24.913' AS DateTime), 0)
INSERT [dbo].[DanhMucMonAn] ([Id], [TenDanhMuc], [NgayTao], [TrangThai]) VALUES (N'20b11e9a-d980-4955-b9a2-6ac900f08457', N'Gà', CAST(N'2024-08-28T10:17:32.620' AS DateTime), 1)
INSERT [dbo].[DanhMucMonAn] ([Id], [TenDanhMuc], [NgayTao], [TrangThai]) VALUES (N'9d94c8be-34f2-48cc-ad95-f1d3813a63e6', N'Vịt', CAST(N'2024-08-28T17:44:11.327' AS DateTime), 1)
GO
INSERT [dbo].[GioHang] ([Id], [IdBan], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'b1dab9de-31cf-423a-9067-099dc98a1e4a', N'70e5f20d-2080-435c-b3db-fbecfcc54cf9', N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', 1, CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:12:28.763' AS DateTime), 1)
INSERT [dbo].[GioHang] ([Id], [IdBan], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'71efd341-625a-4543-84e3-0ad527ed2728', N'b139df61-b77f-45dd-9001-9554c4e6e412', N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', 2, CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T19:55:42.790' AS DateTime), 1)
INSERT [dbo].[GioHang] ([Id], [IdBan], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'ddc3dc65-3213-481c-939d-0b89f6923a21', N'70e5f20d-2080-435c-b3db-fbecfcc54cf9', N'29b1ce3b-7c78-4260-84d0-551edbe378b9', 1, CAST(300000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:51:42.050' AS DateTime), 1)
GO
INSERT [dbo].[HoaDon] ([Id], [IdNhanVien], [IdBan], [Ma], [TongTien], [NgayTao], [NgayThanhToan], [TrangThai]) VALUES (N'af647f45-4ae4-4a02-83f6-033133f0db8f', N'a161cd8e-56dd-487b-968b-5e6dc83eaea0', N'70e5f20d-2080-435c-b3db-fbecfcc54cf9', N'HDFOOD119', CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T22:44:17.103' AS DateTime), CAST(N'2024-09-01T22:47:54.883' AS DateTime), 3)
INSERT [dbo].[HoaDon] ([Id], [IdNhanVien], [IdBan], [Ma], [TongTien], [NgayTao], [NgayThanhToan], [TrangThai]) VALUES (N'e32d1128-fc0b-468b-9372-03a28012a444', N'a161cd8e-56dd-487b-968b-5e6dc83eaea0', N'b139df61-b77f-45dd-9001-9554c4e6e412', N'HDFOOD105', CAST(600000 AS Decimal(20, 0)), CAST(N'2024-09-01T19:41:38.583' AS DateTime), CAST(N'2024-09-01T19:55:24.243' AS DateTime), 3)
INSERT [dbo].[HoaDon] ([Id], [IdNhanVien], [IdBan], [Ma], [TongTien], [NgayTao], [NgayThanhToan], [TrangThai]) VALUES (N'410c276f-ce91-45c0-a468-0462f3569973', N'a161cd8e-56dd-487b-968b-5e6dc83eaea0', N'70e5f20d-2080-435c-b3db-fbecfcc54cf9', N'HDFOOD123', CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:05:54.743' AS DateTime), CAST(N'2024-09-01T23:06:36.763' AS DateTime), 3)
GO
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'2ab58b81-1d6a-40d0-ab80-08024d4ef418', N'54a55b7d-1079-467e-bb8e-4dc32d116871', N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', 1, CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:11:27.813' AS DateTime), 2)
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'1824e5b4-2bdb-4d47-82ba-0e140ed92947', N'b2e95ed1-2ce6-4a61-8e89-572560b014de', N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', 1, CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:24:10.087' AS DateTime), 2)
INSERT [dbo].[HoaDonChiTiet] ([Id], [IdHoaDon], [IdMonAn], [SoLuong], [GiaTien], [NgayTao], [TrangThai]) VALUES (N'0d0c96cc-c869-4301-95c2-106b006ecc8f', N'410c276f-ce91-45c0-a468-0462f3569973', N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', 1, CAST(130000 AS Decimal(20, 0)), CAST(N'2024-09-01T23:05:54.747' AS DateTime), 2)
GO
INSERT [dbo].[MonAn] ([Id], [IdDanhMuc], [HinhAnh], [TenMon], [GiaTien], [MoTa], [NgayTao], [TrangThai]) VALUES (N'29b1ce3b-7c78-4260-84d0-551edbe378b9', N'20b11e9a-d980-4955-b9a2-6ac900f08457', N'ga_nuong.jpg', N'Gà nướng', CAST(300000 AS Decimal(20, 0)), N'ngon', CAST(N'2024-08-28T23:22:20.183' AS DateTime), 1)
INSERT [dbo].[MonAn] ([Id], [IdDanhMuc], [HinhAnh], [TenMon], [GiaTien], [MoTa], [NgayTao], [TrangThai]) VALUES (N'c6e792e3-1dfd-4a37-911f-567dc92b6e2a', N'9d94c8be-34f2-48cc-ad95-f1d3813a63e6', N'1402282743_vit-luoc-jpg08a88f4d60d643b3be81d10d432.webp', N'Vịt luộc', CAST(130000 AS Decimal(20, 0)), N'Ngon', CAST(N'2024-09-02T09:12:39.773' AS DateTime), 1)
INSERT [dbo].[MonAn] ([Id], [IdDanhMuc], [HinhAnh], [TenMon], [GiaTien], [MoTa], [NgayTao], [TrangThai]) VALUES (N'b229f8d5-bc8c-4c2d-ade8-6b959d55a25f', N'20b11e9a-d980-4955-b9a2-6ac900f08457', N'ga_ran_kfc.jpg', N'Gà rán KFC', CAST(130000 AS Decimal(20, 0)), N'ngon', CAST(N'2024-08-28T23:24:13.667' AS DateTime), 1)
GO
INSERT [dbo].[NhanVien] ([Id], [IdChucVu], [HoTen], [GioiTinh], [NgaySinh], [Sdt], [TaiKhoan], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'96869c4e-5a93-4668-af41-169c60b07c8d', N'bb96b457-4c9e-4573-bc8a-e0f171f429e7', N'Nguyễn Tuấn', 1, CAST(N'2003-03-03' AS Date), N'0999999999', N'tuannv', N'123456', CAST(N'2024-08-28T09:46:07.570' AS DateTime), 1)
INSERT [dbo].[NhanVien] ([Id], [IdChucVu], [HoTen], [GioiTinh], [NgaySinh], [Sdt], [TaiKhoan], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'a161cd8e-56dd-487b-968b-5e6dc83eaea0', N'e7727574-07e0-46b4-86a7-e4931c9548ec', N'Nguyễn Việt', 1, CAST(N'2000-02-02' AS Date), N'0999999999', N'vietnt', N'123456', CAST(N'2024-08-28T00:42:42.297' AS DateTime), 1)
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[DanhMucMonAn] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([IdBan])
REFERENCES [dbo].[Ban] ([Id])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([IdMonAn])
REFERENCES [dbo].[MonAn] ([Id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IdBan])
REFERENCES [dbo].[Ban] ([Id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HoaDon] ([Id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([IdMonAn])
REFERENCES [dbo].[MonAn] ([Id])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DanhMucMonAn] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([IdChucVu])
REFERENCES [dbo].[ChucVu] ([Id])
GO
USE [master]
GO
